@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Message Test</h1>
    <p class="lead">Essa aplicação é destinada a cadastro e recebimentos de mensagens do dia. Possui um Site, API e Aplicativo móvel, aplicando o DDD.</p>
    
</div>
